<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.leedi.papyrus" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="me.leedi.papyrus.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="me.leedi.papyrus.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="me.leedi.papyrus.activity.LoginActivity" />
        <activity android:name="me.leedi.papyrus.activity.ComposeActivity"/>
        
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="503143412fd4566b14b5ae15270c9d2331f61088" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.facebook.LoginActivity" />
    </application>

</manifest>
